.square {
    float:left;
    position: relative;
    width: 145px;
    height: 145px;
    padding-bottom : 10px; /* = width for a 1:1 aspect ratio */
    margin:10px;
    background-position:center center;
    background-color: yellow;
    /* hoveer */
    cursor: pointer;
    cursor: hand;
}

.marked-x {
    
    background-image: url('x-image.gif');
    position: absolute;
    display: block;
    z-index: 10000000;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
}